body{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 100%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.navbar a{
    background-color:hsl(0, 0%, 75%);
}
.navbar li{
    float: left;
}