
body {
    margin: 0;
    background-image: url('Schoolzaken.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.navbar ul {
    list-style-type: none; 
    background-color: hsl(0, 0%, 12.5%); 
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex; 
}

.navbar a {
    color: hsl(0, 0%, 100%); 
    text-decoration: none; 
    padding: 15px;
    text-align: center;
    display: block;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 5%); 
}

.navbar li {
    float: left;
}

.navbar li:last-child {
    margin-left: auto; 
}


a {
    text-decoration: none; 
    color: inherit; 
    outline: none; 
    padding: 0; 
    border: none; 
    display: inline-block; 
}

a:focus,
a:active {
    text-decoration: none; 
    outline: none; 
}


div {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

/* Button styles */
button {
    font-size: 150px; 
    background-color: #333333; 
    color: #cf0a0a; 
    border-radius: 25px; 
    font-weight: bold; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #444444; 
}
